*{
  margin: 0;
  padding: 0;

}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timer{
  align-self: stretch;
  justify-content: space-between;
  padding-top: 50px;
}

.board{
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
flex-wrap: wrap;
}
.cell img{
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
}
.cell{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.black{
/* background-color: deepskyblue; */
}
.white{
background-color: rgba(255, 235, 205, 0.899);
}


.selected{
  background-color: brown;
}

.available{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(99, 235, 99);
}

.lost h3{
  margin-bottom: 20px;
}
.lost{
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  overflow: auto;
  /* background-color: lightcyan; */
}

.lost_img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.lost-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px ;
  border: 1px solid #fff;
  border-radius: 14px;
}
.black{
  background-color: rgba(0, 0, 0, 0.432);
  color: #fff;
}

.massage{
 
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY( -50%) translateX( 50%);
  /* display: flex; */
  max-width: 350px;
  padding: 20px;
  background-color: rgb(183, 179, 179);
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

.wrapper-massage{
/* .show::after{
  content: ""; */
  /* display: flex; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.358);
  /* max-width: none; */
  /* width: 100vw; */
  /* z-index: 2; */
}

.hide{
  opacity: 0;
  z-index: -1; 

}
.show{
  opacity: 1;
  transition: 300ms ease;  
  z-index: 1;
}

 .color{
  margin-right: 5px;
  margin-left: 5px;
  display: block;
  color: rgba(86, 73, 73, 0.944);
}
.restart::before{
  left: 2px;
  top: 2px;
  border-top:  solid rgba(0, 0, 0, 0.432);
  border-left:  solid rgba(0, 0, 0, 0.432);
} 
.restart::after {
  right: 0;
bottom: 0;
border-right:solid rgba(0, 0, 0, 0.432);
border-bottom:solid rgba(0, 0, 0, 0.432);
}
.restart::before, .restart::after {
  content: '';
  position: absolute;
  
  width: 15px;
  height: 15px;
  pointer-events: none;
  z-index: -1;
}
.restart{

  background-color: #f8f9fa;
  border: none;
  font-size: 14px;
  color: #343a40;
cursor: pointer;
  transition: transform 0.1s;
  position: relative;
  padding:15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
margin-right: 15px;
margin-left: 15px;
  font-weight: 600;
  font-size: 2rem;
  font-family: sans-serif;
}
.restart:hover::before{
  left: -5px;
  top: -5px;
}
.restart:hover::after{
  right: -5px;
  bottom: -5px;
}
.restart:hover::before,
.restart:hover::after{

  z-index: -1;
}

.restart:hover
{
  transform:  scale(1.1);

}

.board-title{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Clock */
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.clock-face {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: rgba(0, 0, 0, 0.432) solid 1px;
}

.clock-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  /* opacity: 0; */
}

.clock-hand {
  position: absolute;
  top: 47px;
  /* left: 3px; */
  /* top: 50%; */
  left: 50%;
  /* transform-origin: 100% 50%; */
  width: 2px;
  height: 60px;

  background-color: black;
}

.clock-hand-seconds {
  transform: rotate(90deg);
  /* height: 70px; */
  
}

.clock-hand-minutes {
  transform: rotate(90deg);
  /* height: 50px; */
  width: 3px;
}

.clock-hand-hours {
  transform: rotate(90deg);
  /* height: 30px; */
  width: 4px;
}